<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Base32" version="1.0.0.26" targetFramework="net47" />
  <package id="CM.Sms.Gateway" version="1.0.3" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="log4net" version="2.0.3" targetFramework="net47" />
  <package id="MessageBird" version="1.3.4" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="OtpSharp" version="1.3.0.4" targetFramework="net47" />
  <package id="SpryngApiHttpDotNet" version="1.6.1" targetFramework="net47" />
  <package id="Twilio" version="5.8.0" targetFramework="net47" requireReinstallation="true" />
  <package id="ZXing.Net" version="0.16.2" targetFramework="net47" />
</packages>