<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MultiFactorAuthentication;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="twilio:accountSid" value="Test" />
    <add key="twilio:authToken" value="Test" />
    <add key="twilio:phoneNumber" value="Test" />
    <add key="app:issuer" value="Flores.nl" />
    <add key="spryng:username" value="niels@flores.nl" />
    <add key="spryng:password" value="lbPJ8CpFwjZPNt!u" />
    <add key="spryng:from" value="Flores" />
    <add key="app:db" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MultiFactorAuthentication;Integrated Security=True"/>
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup></configuration>
